@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.card {
  padding: 1.5em 1.4em;
  border-radius: 1.6em;
  -webkit-box-shadow: 0 0px 30px rgba(104, 100, 100, 0.295);
          box-shadow: 0 0px 30px rgba(104, 100, 100, 0.295);
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.card:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.card-head h2 {
  margin-bottom: 1em;
  font-size: 18px;
  text-transform: uppercase;
}

.shopping-sec {
  background-color: whitesmoke;
}

.container {
  margin: 2em;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-body p {
  text-transform: uppercase;
  font-size: 15px;
}

.card-footer h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
  width: 85px;
  background-color: rgba(179, 165, 165, 0.466);
}

.card-footer a {
  text-decoration: none;
  color: white;
  background-color: #e21b1b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  padding: .4em 1em;
  border-radius: .2em;
  font-size: 12px;
}

header {
  background-color: #d43939;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0px 30px rgba(104, 100, 100, 0.295);
          box-shadow: 0 0px 30px rgba(104, 100, 100, 0.295);
  /* position: fixed;
    z-index: 100;
    width: 95%;  make the sticky navbar up top*/
}

header img {
  width: 27px;
  float: right;
}

header a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  letter-spacing: .1rem;
}

header a span {
  color: #f5cd1b;
  letter-spacing: .2rem;
}

nav {
  background-color: #f5cd1b;
  height: 100vh;
  width: 60%;
  position: absolute;
  right: 0;
  z-index: 10;
  float: right;
}

nav a {
  text-decoration: none;
  color: #2b2828;
}

nav ul {
  list-style: none;
  padding: 1em;
  text-align: right;
}

nav ul li {
  margin-top: 1em;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

nav ul li:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#mobile {
  display: none;
}

footer {
  background-color: #1d1d1d;
}

footer .footer-container {
  display: block;
  padding: 2em 2em;
  text-align: center;
}

footer .footer-container .payments p {
  color: #cdcecd;
  font-size: 20px;
  margin-bottom: 1.4em;
}

footer .footer-container .payments span {
  font-size: 14px;
  color: #797575;
  display: block;
}

footer .footer-container .payments img {
  margin: .4em .7em;
  width: 10%;
}

footer .footer-container ul {
  list-style: none;
}

footer .footer-container ul a {
  color: rgba(211, 208, 208, 0.562);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: -2em;
  margin-top: 2em;
  font-size: 14px;
}

.hero-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("image/hero.cookie.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero.cookie.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5em 2em 3em 2em;
  text-align: center;
}

.hero-img h3 {
  color: rgba(219, 215, 215, 0.897);
  font-size: 20px;
  margin-bottom: 1em;
  /*
        background-color: rgba(0, 0, 0, 0.459);
        */
  letter-spacing: .1em;
}

.hero-img p {
  font-size: 10px;
  color: #cfcfcf;
  display: none;
}

.hero-img a {
  text-decoration: none;
  color: #eaebe7;
  background-color: #d43939;
  padding: .4em .6em;
  letter-spacing: .1em;
  border-radius: .2em;
}

.main-nav {
  display: none;
}

@media (min-width: 1020px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
  }
  .main-nav ul li {
    margin: auto 1em;
    font-size: 20px;
  }
  .menu {
    display: none;
  }
  header {
    padding: 1em 4%;
  }
  .footer-container .payments img {
    width: 5%;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */